src/*.exe
src/monetaryunit
src/monetaryunitd
src/test_monetaryunit
.*.swp
*.*~*
*.bak

*.orig
*.o
*.patch
.monetaryunit

# Compilation and Qt preprocessor part
*.qm
src/qt/locale/*.qm
Makefile
monetaryunit-qt
Monetaryunit-Qt.app

# Unit-tests
Makefile.test
monetaryunit-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
/.idea/.name
/.idea/MUE-Src.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/CMakeLists.txt
/Makefile.Debug
/Makefile.Release
/monetaryunit-qt_plugin_import.cpp
/object_script.monetaryunit-qt.Debug
/object_script.monetaryunit-qt.Release
/release/
/release_linux/
